# Shared
NODE_ENV=production

# Android
ANDROID_KEYSTORE_BASE64=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=

# iOS
IOS_SCHEME=App
IOS_WORKSPACE=ios/App.xcworkspace
APPLE_API_KEY_ID=
APPLE_API_ISSUER_ID=
APPLE_API_KEY_BASE64=
APPLE_ID=
APPLE_TEAM_ID=
APP_STORE_CONNECT_TEAM_ID=
APPLE_APP_IDENTIFIER=com.example.app
MATCH_GIT_URL=
MATCH_PASSWORD=

